#
#  curl -K curl.config url
#

-sSI
-X GET
--http2
-H "Accept-Encoding: deflate, gzip, br"
#-H "Accept: image/webp"
-H "X-WIT-Debug: true"
-c /tmp/my.curl.cookies
--write-out "lookup:        %{time_namelookup}\tconnect:       %{time_connect}\tsize_download:    %{size_download}\tredirect:      %{time_redirect}\tstarttransfer: %{time_starttransfer}\ttotal:         %{time_total}\n"
#-A "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36"
#-A "Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5376e Safari/8536.25"
#-A "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"
#-A "ImageEngine 1.0"
-A "Mozilla/5.0 (Linux; Android 7.0; Moto G (4)) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.175 Mobile Safari/537.36 Chrome-Lighthouse"
#-A "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36"
