#
#  curl -K curl.config url 
#

-sSI 
--http2
-H "Accept-Encoding: deflate, gzip, br"
-H "X-WIT-Debug: true"
--write-out "lookup:        %{time_namelookup}\tconnect:       %{time_connect}\tsize_download:    %{size_download}\tredirect:      %{time_redirect}\tstarttransfer: %{time_starttransfer}\ttotal:         %{time_total}\n"
-A "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"
